<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.unity3d.player" xmlns:tools="http://schemas.android.com/tools" xmlns:horizonos="http://schemas.horizonos/sdk">
  <application android:usesCleartextTraffic="false" android:allowBackup="false" android:label="@string/app_name" android:icon="@mipmap/app_icon">
    <activity android:name="com.unity3d.player.UnityPlayerGameActivity" android:theme="@style/BaseUnityGameActivityTheme" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="com.oculus.intent.category.VR" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="android.app.lib_name" android:value="game" />
      <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
    </activity>
    <meta-data android:name="com.oculus.handtracking.frequency" android:value="LOW" />
    <meta-data android:name="com.oculus.ossplash.background" android:value="black" />
    <meta-data android:name="com.oculus.telemetry.project_guid" android:value="ecba3e23-35db-4884-b65b-9caff8a58613" />
    <meta-data android:name="com.oculus.supportedDevices" android:value="quest2|questpro|quest3|quest3s" tools:replace="android:value" />
  </application>
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="true" />
  <uses-feature android:name="oculus.software.handtracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
  <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API" />
  <uses-feature android:name="com.oculus.software.body_tracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.BODY_TRACKING" />
  <uses-feature android:name="oculus.software.face_tracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.FACE_TRACKING" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-feature android:name="oculus.software.eye_tracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.EYE_TRACKING" />
  <uses-permission android:name="com.oculus.permission.USE_SCENE" />
  <horizonos:uses-horizonos-sdk horizonos:minSdkVersion="60" horizonos:targetSdkVersion="201" />
</manifest>
